.Drawer {

}

.Drawer ul li {
    margin-bottom: 15px;
    
}

.Drawer ul li a {
    color: #363d54;
    font-size: 30px;
    text-decoration: none;
    background-color: #fff;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: opacity .3s;
    
}

.Drawer ul li a:hover, .activ {
    opacity: .7;
    
}